.App {
  text-align: center;
}

.counter {
  margin: 20% auto 0;
  padding: 20px 0;
  border: 1px solid black;
  width: 500px;
}
.btns {
  margin: 0 auto;
  width: 90px;
  display: flex;
  justify-content: space-between;
}
.btn {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: orange;
  font-size: 30px;
}
.todo {
  margin: 2px auto;
  text-align: left;
  padding: 20px 0 20px 45px;
  border: 1px solid black;
  width: 455px;
}
.todo button {
  margin-left: 20px;
}